@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 10% 25%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 25%;
    --primary: 25 80% 50%;
    --primary-foreground: 20 0% 100%;
    --secondary: 40 50% 98%;
    --secondary-foreground: 220 10% 25%;
    --muted: 40 50% 98%;
    --muted-foreground: 220 10% 45%;
    --accent: 25 80% 50%;
    --accent-foreground: 20 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 85%;
    --input: 220 15% 85%;
    --ring: 25 80% 50%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .testimonial-card-gradient {
    background: linear-gradient(180deg, rgba(30, 2, 2, 0.4) 0%, #291a45 100%);
  }
}
